body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  background-color: #553d7c;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 10px;
}

.title {
  color: #553d7c;
  font-size: 20px;
  font-weight: bold;
}

.link-active {
  background-color: #01aeef;
  color: white;
  font-weight: bold;
}

.link {
  color: black;
}

.avatar {
  height: 150px;
}

.content {
  font-size: 18px;
}

.code {
  background-color: #e0ecf9;
  margin: 20px;
  padding-top: 5px;
  border-radius: 5px;
}

.highlight {
  color: #da5369;
}

.link-http {
  color: #4266b2;
  text-decoration: underline;
}

li {
  font-size: 22px;
  color: #01aeef;
}

.footer {
  height: 200px;
}